[submodule "vendor/home-manager"]
	path = vendor/home-manager
	url = https://github.com/rycee/home-manager.git
	branch = release-18.03
[submodule "vendor/infrastructure-private"]
	path = vendor/infrastructure-private
	url = git@gitlab.martinache.net:M-Gregoire/infrastructure-private.git
[submodule "vendor/nixpkgs-unstable"]
	path = vendor/nixpkgs-unstable
	url = https://github.com/NixOS/nixpkgs.git
[submodule "vendor/nixpkgs-release"]
	path = vendor/nixpkgs-release
	url = https://github.com/NixOS/nixpkgs.git
[submodule "scripts/polybar-spotify-controls"]
	path = scripts/polybar-spotify-controls
	url = https://github.com/dietervanhoof/polybar-spotify-controls.git
[submodule "vendor/base16-shell"]
	path = vendor/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
